@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --green-accent: #50d75a;
}

::selection {
  background: var(--green-accent);
  color: black;
}

body::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 1.25rem;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  background: #ffffff80;
  backdrop-filter: blur(5px);
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.join-us-link {
  background: var(--green-accent);
  height: 40px;
  width: 100px;
  line-height: 30px;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
}

.current-page {
  text-decoration: underline 4px var(--green-accent);
}
.current-page-join-us {
  background: lightgray;
}

main {
  margin-top: 80px;
  width: 100%;
  flex: 1;
}

.hero {
  /* background: var(--green-accent); */
  background-image: url("https://d1km7u9ubck4j.cloudfront.net/production-upgrade-2024/b0f13a12e828374f22b1be5980afae58/conversions/608b3351cb31f-HD.jpg");
  background-position: center;
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero > h1 {
  color: white;
}

.stats {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.previews {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.home-preview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  height: 300px;
  width: 70%;
  border: 1px solid lightgray;
}

.home-preview > a {
  align-self: flex-end;
}

.stats > p {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 200px;
}

.stats > p > span {
  font-size: 3rem;
}

footer {
  background: #212121;
  width: 100%;
  padding: 50px;
  color: white;
}

footer > nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  margin-bottom: 25px;
}

footer > nav > a {
  color: white;
}

footer > span > a {
  float: right;
  color: white;
}

.campaign-cards {
  flex-wrap: wrap;
}
.campaign-card {
  width: 400px;
  height: 500px;
  border: 1px solid lightgray;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.campaign-card > div {
  height: auto;
  width: 400px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 10px;
  flex-direction: column;
}
.campaign-card > div > a {
  width: 100%;
  text-align: center;
  background: #50d75a;
  border-radius: 5px;
  padding: 10px;
}

.campaign-card > img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: center;
}

.campaign > img {
  width: 70%;
  height: 400px;
  object-fit: cover;
  object-position: top;
}
.campaign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.campaign > p {
  max-width: 70%;
}

.mission-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 30px 0;
}

form {
  width: 400px;
  display: flex;
  flex-direction: column;
}

form > input,
form > textarea {
  padding: 10px;
  height: 40px;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
}

form > input:focus,
form > textarea:focus {
  border: 3px solid #50d75a;
  padding: 8px;
}

form > textarea {
  resize: vertical;
  height: 250px;
  min-height: 40px;
  max-height: 500px;
}

.send {
  background: #50d75a;
  border: none;
  font-size: 1rem;
  height: 40px;
  border-radius: 5px;
  margin-top: 15px;
}
.send:hover {
  cursor: pointer;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
  height: 100%;
}

.flex-col {
  flex-direction: column;
}
